.customMenuItem , .customMenuItem div:active {
    background: none !important
}
.customSider.ant-layout-sider-collapsed .divCustom p{
    display: none;
}
.customMenuItem .ant-menu-title-content a:hover {
    color: inherit;
}